@{
	ViewBag.Title = "Условия перевозки";
}
<div class="container-xl pt-3 pt-md-4 pt-lg-5">
	<h1 class="display-4 text-center mb-2 mb-md-3 mb-lg-4">Условия перевозки</h1>
	<p>Fusce rhoncus est luctus lacus luctus consequat. Integer ut cursus quam. Duis in semper augue. Phasellus ut nisi augue. Proin sed dignissim sapien. Ut sed rutrum leo, vitae malesuada justo. Nulla condimentum tellus et sem consectetur vestibulum.</p>
	<p>Sed tempus arcu in nisl cursus pharetra. Sed quis faucibus ante, et iaculis sapien. Suspendisse commodo ante in justo lobortis maximus. Curabitur a tortor quis lorem dapibus blandit ut non magna. Donec ornare neque facilisis consequat consectetur. Etiam et consectetur nunc. Vestibulum sagittis mollis neque. Vestibulum auctor lacinia efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent vitae scelerisque neque. Fusce semper interdum viverra. Mauris tempus feugiat est id porttitor. Aenean ultricies dolor nisl, id ultrices velit rhoncus a.</p>
	<ul>
		<li>Praesent nec dolor mattis, hendrerit velit sit amet, faucibus nisi;</li>
		<li>Vestibulum et neque sed magna convallis blandit;</li>
		<li>Sed ut justo ac odio tincidunt tincidunt;</li>
		<li>Donec condimentum ante a lorem condimentum volutpat.</li>
	</ul>
	<p>Integer commodo orci eu auctor tempor. Aliquam purus mauris, pretium vel ultrices et, fermentum vel enim. Pellentesque ultricies tincidunt dolor, in malesuada ex laoreet non. Cras porttitor malesuada libero, sed congue purus finibus a. Praesent elit tellus, mattis ac nisi vitae, posuere dignissim urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis quis pretium ligula. Nulla et enim orci. Quisque odio elit, ultricies et turpis non, rutrum aliquam sapien. Quisque et varius arcu, sit amet vestibulum mauris. Aliquam erat volutpat. Vestibulum condimentum sodales quam.</p>
	<ul>
		<li>Praesent vel risus id lectus lacinia aliquet;</li>
		<li>Cras eu eros iaculis, imperdiet velit sed, consequat neque;</li>
		<li>Sed eu sem blandit, sollicitudin justo ut, iaculis turpis.</li>
	</ul>
	<p>Sed aliquam nulla nec sem luctus auctor. Suspendisse efficitur, quam ut imperdiet tristique, turpis turpis dapibus dolor, eu finibus turpis urna ut felis. Morbi justo lacus, placerat sed convallis in, condimentum eu mi. Proin urna neque, dictum pulvinar sodales facilisis, tincidunt id nisl. Praesent mollis.</p>
	<ul class="list-unstyled">
		<li><a class="link-primary" href="https://localhost#conditions-1" target="_blank">Mauris sagittis urna ut dolor congue, et tincidunt ipsum tincidunt</a></li>
		<li><a class="link-primary" href="https://localhost#conditions-2" target="_blank">Vestibulum volutpat lorem vitae dolor pretium egestas</a></li>
	</ul>
</div>