@{
	ViewBag.Title = "Документация";
}
<div class="container-xl pt-3 pt-md-4 pt-lg-5">
	<h1 class="display-4 text-center mb-2 mb-md-3 mb-lg-4">Документация</h1>
	<p>Pellentesque porta vitae dolor a mattis. Etiam mollis congue magna id volutpat. Nulla quis neque eu turpis dictum luctus. Duis sit amet lacus feugiat, vulputate massa ac, lacinia eros. Pellentesque porttitor purus lacus, commodo pretium ligula pretium non. Nullam fringilla arcu mauris, ac pellentesque orci porta at. Phasellus quis commodo turpis, ac facilisis sapien. Donec suscipit elementum velit at tempus. Morbi efficitur tincidunt dui sit amet tempor.</p>
	<p>Mauris semper nunc et blandit viverra. Integer ex nulla, porttitor a finibus vel, ultrices bibendum nisl. Sed nec risus ac est eleifend dapibus vitae ut odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed pulvinar nunc ac dui scelerisque, vel iaculis nisi porta. Proin vehicula nisl ut sem mollis rhoncus. Nam sit amet convallis nisl.</p>
	<ul class="list-unstyled row row-cols-lg-2">
		<li><a class="link-primary" href="https://localhost#documents-1" target="_blank">Aenean facilisis sem vel dapibus luctus</a></li>
		<li><a class="link-primary" href="https://localhost#documents-2" target="_blank">Maecenas aliquam dui non dapibus interdum</a></li>
		<li><a class="link-primary" href="https://localhost#documents-3" target="_blank">Nulla quis purus ac nulla rhoncus malesuada id vitae augue</a></li>
		<li><a class="link-primary" href="https://localhost#documents-4" target="_blank">Donec vitae sapien sit amet nisi venenatis faucibus eu quis dui</a></li>
		<li><a class="link-primary" href="https://localhost#documents-5" target="_blank">Cras efficitur lacus eu ex vulputate, et efficitur risus ultrices</a></li>
		<li><a class="link-primary" href="https://localhost#documents-6" target="_blank">Nullam id elit ac nisi sollicitudin pellentesque ut a risus</a></li>
		<li><a class="link-primary" href="https://localhost#documents-7" target="_blank">Fusce tincidunt sapien ut nulla tincidunt, a rutrum ante dignissim</a></li>
		<li><a class="link-primary" href="https://localhost#documents-8" target="_blank">Praesent laoreet leo at sem luctus pulvinar</a></li>
	</ul>
</div>