@{
	ViewBag.Title = "Виды грузоперевозок и тарифы";
}
<div class="container-xl pt-3 pt-md-4 pt-lg-5">
	<h1 class="display-4 text-center mb-2 mb-md-3 mb-lg-4">Виды грузоперевозок и тарифы</h1>
	<p>Curabitur luctus lacus ac urna viverra, ut vehicula velit lacinia. Donec ut porttitor purus. Proin scelerisque auctor tellus. Vestibulum porta non leo in congue. Duis sit amet justo eu orci iaculis dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et ligula libero.</p>
	<p>Nunc ac volutpat ipsum. Curabitur convallis, sem ac mattis pulvinar, est urna gravida lectus, quis hendrerit elit mi suscipit turpis. Ut tincidunt gravida blandit. Maecenas faucibus, justo eget convallis congue, lorem lectus ullamcorper orci, nec porttitor ante eros quis magna. Quisque sit amet vestibulum risus, eget lobortis lorem. Aliquam ultrices porta justo a viverra. Integer dui urna, blandit eget aliquet nec, gravida sed lacus. Cras in feugiat ante. Donec pellentesque eget ligula et.</p>
	<p>Vestibulum sit amet dolor nunc. Praesent tortor velit, varius sit amet euismod non, finibus vel massa. Phasellus vehicula nec metus in finibus. Vestibulum maximus tellus vitae quam consequat, in tempor velit mollis. Pellentesque non lectus erat. Cras luctus faucibus libero, in lobortis nisi. Pellentesque non tristique eros. Praesent sed vehicula massa. Nulla facilisi. Curabitur nisi sem, consectetur eu eros vel, mattis rhoncus nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	<ul class="list-unstyled">
		<li><a class="link-primary" href="https://localhost#plans-1" target="_blank">Suspendisse tincidunt leo ac ex maximus mattis</a></li>
		<li><a class="link-primary" href="https://localhost#plans-2" target="_blank">Integer vel mi id lacus mattis dapibus ut vitae orci</a></li>
		<li><a class="link-primary" href="https://localhost#plans-3" target="_blank">Cras eget orci pretium magna vehicula vestibulum</a></li>
		<li><a class="link-primary" href="https://localhost#plans-4" target="_blank">Maecenas in libero blandit, consectetur quam non</a></li>
	</ul>
</div>